-var socials = [{icon: "vk", href: "#"}, {icon: "github", href: "#"}, {icon: "in", href: "#"}] 
-var menuItems = [{ name: "Мои работы", href: "#"}, { name: "Обо мне", href: "#"}, { name: "Блог", href: "#"}, { name: "Авторизация", href: "#"}]

mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`/assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin social_link(icon, link)
    a.social_link(href=link)
      +icon(icon, 'icon')

mixin socials(socialClass)
    div(class=`socials socials--${socialClass}`)
        each social in socials
            +social_link(social.icon, social.href)

mixin menu(menuClass)
    div(class=`menu menu--${menuClass}`)
        each item in menuItems
          a(class='menu__item' href=item.href)= item.name

mixin hero(heroImg, heroAlt, heroName, heroTitle, heroBg)
    .hero
        +image(`png/${heroImg}.png`, heroAlt, 'hero__img')
        .hero__name= heroName
        .hero__title= heroTitle
